@{
    ViewBag.Title = "SuccessPage";
}

<h2>Registration Successful</h2>

<div class="row">
    <div class="alert alert-success">
        Congratulations, you managed to do the registration, please <a href="@Url.Action("Login")">Login</a> to enter into the application.
    </div>
</div>

